:root {
  --mainColor: #442c2e;
}

body {
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  height: 100vh;
  justify-content: center;
  background-color: #feeae6;
}

a {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: rgb(167, 142, 142);
  text-decoration: none;
  transition: background-size 0.2s;
}

a:hover {
  background-size: 4px 50px;
}

input[type="submit"] {
  background-color: #442c2e;
  border: none;
  color: white;
  padding: 10px 26px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #442c2e;
  color: #fedbd0;
  text-align: center;
}
.header {
  overflow: hidden;
  background-color: #fedbd0;
  padding: 20px 10px;
}
